<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">SSE693 Project: Semantic Web, Cloud Computing, and Service Oriented Architecture</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Homepage</a></li>
            <li><a href="{{ url_for('aboutme') }}">About Me</a></li>
            <li><a href="{{ url_for('rdf') }}">About RDF</a></li>
            <li><a href="{{ url_for('gcp') }}">About Google Cloud Platform</a></li>
            <li><a href="{{ url_for('soa') }}">About Service-Oriented Architecture</a></li>         
          </ul>
        </nav></strong>
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>
